version: 2
jobs:
  test:
    working_directory: /go/src/github.com/segmentio/kubeapply
    docker:
      - image: circleci/golang:1.14
        environment:
          GO111MODULE: "on"

    steps:
      - checkout
      - restore_cache:
          keys:
            - go-modules-{{ checksum "go.sum" }}
      - setup_remote_docker:
          reusable: true
          docker_layer_caching: true
      - run:
          name: Install deps
          command: |
            mkdir -p deps
            cd deps
            ../scripts/pull-deps.sh
      - run:
          name: Run tests
          command: |
            export PATH="$PATH:/go/src/github.com/segmentio/kubeapply/deps"
            make test-ci
      - run:
          name: Run Snyk
          environment:
            SNYK_LEVEL: 'FLHI'
          command: curl -sL https://raw.githubusercontent.com/segmentio/snyk_helpers/master/initialization/snyk.sh | sh
      - save_cache:
          key: go-modules-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

  publish:
    working_directory: /go/src/github.com/segmentio/kubeapply
    docker:
      - image: circleci/golang:1.14

    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          docker_layer_caching: true
      - run:
          name: ECR Login
          command: |
            sudo apt-get update && sudo apt-get install --yes python3 python3-pip
            pip3 install awscli==1.16.292
            $(aws ecr get-login --no-include-email --region ${AWS_REGION} --registry-ids ${AWS_ACCOUNT_ID})
      - run:
          name: Build and push image
          command: |
            export SHORT_GIT_SHA=$(echo ${CIRCLE_SHA1} | cut -c -7)
            docker build \
              -t ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/kubeapply:${SHORT_GIT_SHA} \
              --build-arg VERSION_REF=${SHORT_GIT_SHA} \
              .
            docker build \
              -f Dockerfile.lambda \
              -t ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/kubeapply-lambda:${SHORT_GIT_SHA} \
              --build-arg VERSION_REF=${SHORT_GIT_SHA} \
              .
            docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/kubeapply:${SHORT_GIT_SHA}
            docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/kubeapply-lambda:${SHORT_GIT_SHA}

workflows:
  version: 2
  run:
    jobs:
      - test:
          context: snyk
      - publish:
          context: segmentio-org-global
          requires: [test]
